  
  <div id="carouselExampleDark" class="carousel slide," data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
     
    </div>
    
    <div class="carousel-inner container ">
      <div class="carousel-item active " data-bs-interval="10000">
        <img src="https://canadianschoolcounsellor.com/wp-content/uploads/2019/03/CounsellorsCorner-990x688.jpg" class=" image d-block w-100 " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://online.grace.edu/wp-content/uploads/2020/05/4-Popular-Mental-Health-Counseling-Theories-from-Grace-College-1024x576.png" class="image d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">


        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="main my-5 ">
    <div class="text-center">
      <h1 id="about-us">About Us</h1>
      <hr class="w-25 mx-auto" />
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center align-items-start flex-column">
            <figure>
              <img src="https://www.training.com.au/wp-content/uploads/counsellordayinthelife_Feature.png" class="img-fluid" alt="">
            </figure>
          </div>
          <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
            <h1>Who WE ARE</h1>
            <p>Our online counselors are Masters in Psychology and go through extensive rounds of assessment before coming onboard. We map their efficacy with the help of constant feedback from the clients, peers, and domain experts.
            This keeps the quality of BetterLyf sessions thriving.Your counsellor spends hours reflecting and researching methods and tools in addition to your sessions in order to assist you with the best possible tactics to deal with complex situations.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

